body {
  background-image: url("../img/bg-repeat.png");
  background-repeat: repeat;
  background-color: ghostwhite;
}

a {
	padding: 10px 10px;
	text-align: center;
	display: inline-block;	
}

.phrase {
	margin-top: 10px;
}

#navbarDropdown:hover {
  text-decoration: underline;
}

a i {
  width: 10px;
}

.container {
  padding-bottom: 20px;
}

#navbarDropdown {
  color: white
}

.fa-user {
  color: white;
}

#user-menu {
  color: white;
}

#content {
  margin-top: 50px;
}

#user-name {
  color: white;
  padding-left: 5px;
}

#how-it-works {
  margin-top: 50px;
}

#custom-position-chk-group, #real-time-chk-group {
  margin-bottom: 15px;
}

#game-details {
  margin-top: 20px;
}

.hidden {
  display: none!important;
}

#board {
  width: 95vw;
  max-width: 500px;
}

#continue-chat-table {
  table-layout: fixed!important;
  word-wrap: break-word;
}

#continue-chat-table tr {
  font-size: 14px;
}

#table-title {
  width: 50%;
}

tr.clickable-row {
  cursor: pointer;
}

.btn-cancel, #start-new-chat-btn, #join-chat-btn, #stop-playing {
  margin-bottom: 25px;
}

table.table > thead > tr > th{
    border: none;
}
table.table > tbody > tr > td{
    border-top: 1px solid white;
}

code {
  color: antiquewhite;
}

/**https://codepen.io/nmbusman/pen/ygbBYb**/
@font-face {
    font-family: 'vcr';
    src: /**url('../fonts/vcr.woff') format('woff'),**/url('../fonts/vcr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
  box-sizing: border-box;
}

.space-between { justify-content: space-between }

.white     { 
  font-family: "vcr";
  color: #FFFFFF; 
  filter: blur(0.4px); 
  animation: 0.1s infinite linear glitch; 
  text-shadow: 0px 0px 3px #333333; 
}

.button {
    padding: 10px 20px;
    font-size: 19px;
	font-family: "vcr";
    text-align: center;
    outline: none;
    border: none;
    border-radius: 15px;
    margin-left: 43%;
	margin-bottom: 10px;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input#pwd1, input#pwd2 {
    margin: 10px;
    width: 66%;
    margin-left: 20%;
    border-style: outset;
}

.white-no-blur     { 
  font-family: "vcr";
  color: #FFFFFF; 
  text-shadow: 0px 0px 3px #333333; 
  text-align:center;
}

.red       { color: #a30901; top: 5px; left: 15px; }
.pink      { color: #d50bcf }
.dark-blue { color: #31e3e7 }
.cyan      { color: #31e3e7 }
.green     { color: #51bb13 }
.gold{}

.absolute{position: absolute}


.play-container{
  animation: 3s infinite linear glitch-vertical; 
}

@keyframes glitch{
  0%   { transform: translateX( 0.0px) }
  25%  { transform: translateX(-0.5px) }
  50%  { transform: translateX( 0.0px) }
  75%  { transform: translateX( 0.5px) }
  100% { transform: translateX( 0.0px) }
}

@keyframes glitch-vertical{
  0%   { transform: translateY( 0.0px) }
  49%  { transform: translateY( 0.0px) }
  50%  { transform: translateY( -10.0px) }
  51%  { transform: translateY( 0.0px) }
  100% { transform: translateY( 0.0px) }
}


